---
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
<footer>
  <p>
    <Social platform="twitter" username="sampx618" />
    <Social platform="github" username="sampx" />
    <Social platform="youtube" username="sampx" />
  </p>
</footer>
