---
import CategoryNav from "./CategoryNav.astro";
import TagNav from "./TagNav.astro";
---

<aside class="md:col-span-3">
  <div class="md:sticky md:top-[90px] space-y-4">
    <CategoryNav />
    <TagNav />
  </div>
</aside>

<style>
  /* 确保sticky定位在移动端禁用 */
  @media (max-width: 768px) {
    aside div {
      position: static;
    }
  }
</style>
