---
import PostTags from "./Tags.astro";
import { findTags } from '~/utils/blog';

const allTags = await findTags();
---

<div class="bg-white dark:bg-slate-800 p-6 rounded-lg shadow-lg border border-gray-100 dark:border-slate-700">
  <PostTags 
    tags={allTags.map(tag => ({ 
      slug: tag.slug, 
      title: `${tag.title} (${tag.count})` 
    }))} 
    title="Tags"
    titleClass="text-xl font-bold font-heading mb-4 text-gray-900 dark:text-slate-300 no-underline block"
  />
</div>
